# Analyse 2

Bereken hoeveel je de afgelopen jaren in totaal zou verdiend hebben mocht je telkens consequent 10 EUR hebben ingezet op de laagste van de 3 mogelijke bets (thuis wint / gelijkspel / uit wint)
Als er geen laagste was (bijvoorbeeld bet voor thuis wint = bet voor gelijkspel), dan neem je deze record niet op in de berekeningen.
Voer de berekening eerst uit voor 1 van de 6 aanbieders van weddenschappen (B365 / BS / BW / IW / WH / VC)
Herneem de berekening, maar maak nu gebruik van het maximum bedrag dat je had kunnen krijgen.
Bijvoorbeeld
- B365 --> 1.22 EUR
- BS --> 1.25 EUR
- BW --> 1.20 EUR
- IW --> 1.28 EUR
- WH --> 1.25 EUR
- VC --> 1.23 EUR

In dit geval kies je voor IW want daar krijg je de grootste winst uitbetaald (1.28 EUR)

In [2]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation

C:\Users\Matteo\AppData\Local\Temp\ipykernel_18476\48876594.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd                                 # Data Frame

In [7]:
# Datasets inladen
data = pd.read_csv("D:/Hogent/Visual Studio Code/DEP/DEP1-2023-2024-groep30/transfermarkt/data/correcte_data/wedstrijden.csv", sep=";")
betdata = pd.read_csv("D:/Hogent/Visual Studio Code/DEP/DEP1-2023-2024-groep30/transfermarkt/data/correcte_data/bets_historische_data.csv", sep=",")

In [8]:
# De eerste 10 rijen van de dataset bekijken
data.head(10)

,Datum,Tijdstip,Id,StamnummerThuisploeg,RoepnaamThuisploeg,StamnummerUitploeg,RoepnaamUitploeg,FinaleStandThuisploeg,FinaleStandUitploeg,Seizoen,Speeldag
0,1960-09-04,15:00,4008203,373,Sint-Truidense VV,16,Standard Luik,0,2,60/61,1
1,1960-09-04,15:00,4008204,90,Eendracht Aalst,1,Royal Antwerp FC,3,2,60/61,1
2,1960-09-04,15:00,4008205,246,Olympic Charleroi,35,RSC Anderlecht,0,7,60/61,1
3,1960-09-04,15:00,4008206,13,Beerschot,33,Verviétois,1,0,60/61,1
4,1960-09-04,15:00,4008207,3,Club Brugge,10,Union Saint-Gilloise,1,2,60/61,1
5,1960-09-04,15:00,4008208,2,Daring Club Brussel,3434,Patro Eisden,2,1,60/61,1
6,1960-09-04,15:00,4008209,4,RFC Luik,7,KAA Gent,2,1,60/61,1
7,1960-09-04,15:00,4008210,553,Waterschei SV Thor,30,Lierse SK,5,0,60/61,1
8,1960-09-11,15:00,4008218,33,Verviétois,553,Waterschei SV Thor,1,3,60/61,2
9,1960-09-11,15:00,4008217,10,Union Saint-Gilloise,373,Sint-Truidense VV,3,0,60/61,2

In [9]:
# De eerste 10 rijen van de dataset bekijken
betdata.head(10)

,Datum,StamnummerThuis,StamnummerUit,B365ThuisWint,B365Gelijkspel,B365UitWint,BWThuisWint,BWGelijkspel,BWUitWint,IWThuisWint,IWGelijkspel,IWUitWint,WHThuisWint,WHGelijkspel,WHUitWint,VCThuisWint,VCGelijkspel,VCUitWint,MeerDoelpunten>2.5,MinderDoelpunten<2.5
0,2000-08-12,2300,22,NaN,NaN,NaN,NaN,NaN,NaN,2.00,3.0,2.90,2.00,3.40,2.90,NaN,NaN,NaN,NaN,NaN
1,2000-08-12,25,322,NaN,NaN,NaN,NaN,NaN,NaN,2.10,3.0,2.80,2.40,3.30,2.40,NaN,NaN,NaN,NaN,NaN
2,2000-08-12,94,282,NaN,NaN,NaN,NaN,NaN,NaN,2.35,3.0,2.35,2.40,3.30,2.40,NaN,NaN,NaN,NaN,NaN
3,2000-08-12,224,3530,NaN,NaN,NaN,NaN,NaN,NaN,1.80,3.0,3.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-08-12,2024,1,NaN,NaN,NaN,NaN,NaN,NaN,1.75,3.1,3.60,1.61,3.60,4.20,NaN,NaN,NaN,NaN,NaN
5,2000-08-13,373,35,NaN,NaN,NaN,NaN,NaN,NaN,3.80,3.2,1.65,3.80,3.50,1.70,NaN,NaN,NaN,NaN,NaN
6,2000-08-13,1615,16,NaN,NaN,NaN,NaN,NaN,NaN,2.60,3.0,2.20,2.60,3.30,2.25,NaN,NaN,NaN,NaN,NaN
7,2000-08-13,3,7,NaN,NaN,NaN,NaN,NaN,NaN,1.60,3.2,4.20,1.61,3.75,4.00,NaN,NaN,NaN,NaN,NaN
8,2000-08-13,90,30,NaN,NaN,NaN,NaN,NaN,NaN,2.30,3.0,2.40,2.40,3.30,2.40,NaN,NaN,NaN,NaN,NaN
9,2000-08-19,16,94,NaN,NaN,NaN,NaN,NaN,NaN,1.25,4.3,8.00,1.30,4.30,7.50,NaN,NaN,NaN,NaN,NaN

In [12]:
# Functie om de laagste unieke quote te filteren voor B365
def filter_min_unique_b365(row):
    quotes = [row['B365ThuisWint'], row['B365Gelijkspel'], row['B365UitWint']]
    min_quote = min(quotes)
    if quotes.count(min_quote) == 1:
        return min_quote
    return None

# Bereken het totaal verdiende geld met €10 inzet op de laagste quote van B365
betdata['MinQuoteB365'] = betdata.apply(filter_min_unique_b365, axis=1)
total_winnings_b365 = betdata['MinQuoteB365'].dropna().sum() * 10

# Nu voor de maximale quote van alle aanbieders
betdata['MaxQuote'] = betdata[['B365ThuisWint', 'B365Gelijkspel', 'B365UitWint', 
                               'BWThuisWint', 'BWGelijkspel', 'BWUitWint',
                               'IWThuisWint', 'IWGelijkspel', 'IWUitWint', 
                               'WHThuisWint', 'WHGelijkspel', 'WHUitWint',
                               'VCThuisWint', 'VCGelijkspel', 'VCUitWint']].max(axis=1)
total_max_winnings = betdata['MaxQuote'].sum() * 10

print(f'Totaal gewonnen met B365 laagste inzet: €{total_winnings_b365:.2f}')
print(f'Totaal gewonnen met maximale quote inzet: €{total_max_winnings:.2f}')

Totaal gewonnen met B365 laagste inzet: €107128.40
Totaal gewonnen met maximale quote inzet: €326492.99