# Analyse Gemakkelijk 4

1. Importeer volgende bibliotheken

In [5]:
import csv
import pandas as pd
import numpy as np
from scipy import stats

2. Lees de csv en test het

In [6]:
df = pd.read_csv('clean_matches.csv', sep=';')
df.head()

,Datum,Tijdstip,Id,StamnummerThuisploeg,RoepnaamThuisploeg,StamnummerUitploeg,RoepnaamUitploeg,FinaleStandThuisploeg,FinaleStandUitploeg,Seizoen,Speeldag
0,1960-09-04,15:00,4008203,373,Sint-Truidense VV,16,Standard Luik,0,2,60/61,1
1,1960-09-04,15:00,4008204,90,Eendracht Aalst,1,Royal Antwerp FC,3,2,60/61,1
2,1960-09-04,15:00,4008205,246,Olympic Charleroi,35,RSC Anderlecht,0,7,60/61,1
3,1960-09-04,15:00,4008206,13,Beerschot,33,Verviétois,1,0,60/61,1
4,1960-09-04,15:00,4008207,3,Club Brugge,10,Union Saint-Gilloise,1,2,60/61,1

3. Pak de 7de en 8ste kolom

In [7]:
df.iloc[:, 7:8]

       FinaleStandThuisploeg
0                          0
1                          3
2                          0
3                          1
4                          1
...                      ...
17893                      0
17894                      3
17895                      1
17896                      1
17897                      1

[17898 rows x 1 columns]

4. Hoeveel keer is de 7de en 8ste kolom gelijk aan 0

In [8]:
nullen = len(df[(df.iloc[:, 7] == 0) & (df.iloc[:, 8] == 0)])

5. Geef de lengte van de dataframe

In [9]:
lengte = len(df)
lengte

17898

5. Print af

In [10]:

print(f'Percentage wedstrijden waarin niet gescoord is: {nullen/lengte*100:.2f}%')

Percentage wedstrijden waarin niet gescoord is: 8.39%